n8n/competitor-sync-workflow.json
{
  "name": "BIZ — Competitor Reels Sync (Apify → Vercel)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitor-sync-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~instagram-profile-scraper/runs?token={{ $env.APIFY_TOKEN }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"directUrls\": [\"{{ $json.body.instagram_profile_url }}\"],\n  \"resultsType\": \"posts\",\n  \"resultsLimit\": 30,\n  \"searchType\": \"hashtag\",\n  \"searchLimit\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "run-apify-scraper",
      "name": "Run Apify Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/acts/apify~instagram-profile-scraper/runs/{{ $json.data.id }}?token={{ $env.APIFY_TOKEN }}&waitForFinish=120",
        "options": {
          "timeout": 130000
        }
      },
      "id": "wait-for-scraper",
      "name": "Wait for Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token={{ $env.APIFY_TOKEN }}&format=json",
        "options": {}
      },
      "id": "get-dataset",
      "name": "Get Dataset Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Transform Apify Instagram data to BIZ format\nconst items = $input.all();\nconst competitorId = $('Webhook Trigger').first().json.body.competitor_id;\n\nconst reels = [];\n\nfor (const item of items) {\n  const d = item.json;\n  \n  // Apify returns posts in different formats depending on the scraper\n  // Handle both flat and nested structures\n  const posts = d.latestPosts || d.posts || (d.type ? [d] : []);\n  \n  for (const post of posts) {\n    // Skip non-video posts if you only want reels\n    const mediaId = post.id || post.shortCode || post.url?.split('/').filter(Boolean).pop() || null;\n    if (!mediaId) continue;\n    \n    reels.push({\n      ig_media_id: String(mediaId),\n      video_url: post.videoUrl || post.url || null,\n      thumbnail_url: post.displayUrl || post.thumbnailUrl || post.imageUrl || null,\n      caption: (post.caption || post.text || '').substring(0, 500),\n      views: post.videoViewCount || post.playCount || post.viewCount || 0,\n      likes: post.likesCount || post.likeCount || 0,\n      comments: post.commentsCount || post.commentCount || 0,\n      shares: 0,\n      saves: 0,\n      published_at: post.timestamp || post.takenAt || null,\n    });\n  }\n}\n\nreturn [{\n  json: {\n    competitor_id: competitorId,\n    mode: 'replace',\n    reels: reels,\n    _meta: {\n      total_raw_items: items.length,\n      total_reels_extracted: reels.length,\n    }\n  }\n}];"
      },
      "id": "transform-data",
      "name": "Transform to BIZ Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BIZ_VERCEL_URL }}/api/webhooks/competitor-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BIZ_CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-to-vercel",
      "name": "POST to Vercel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', vercel_response: $json, reels_sent: $('Transform to BIZ Format').first().json._meta.total_reels_extracted }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Run Apify Scraper", "type": "main", "index": 0 }]
      ]
    },
    "Run Apify Scraper": {
      "main": [
        [{ "node": "Wait for Scraper", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Scraper": {
      "main": [
        [{ "node": "Get Dataset Results", "type": "main", "index": 0 }]
      ]
    },
    "Get Dataset Results": {
      "main": [
        [{ "node": "Transform to BIZ Format", "type": "main", "index": 0 }]
      ]
    },
    "Transform to BIZ Format": {
      "main": [
        [{ "node": "POST to Vercel", "type": "main", "index": 0 }]
      ]
    },
    "POST to Vercel": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
